.primary-btn {
    width: 130px;
    color: #fff;
    font-weight: bold;
    background: #343434;
    box-shadow: 0 2px #464040;
    display: grid;
    grid-template-columns: 30px 100px;
    justify-self: center;
    margin: 10px;
    cursor: pointer;
    &:hover {
        background: #434343;
    }
    &:focus {
        outline: 0px;
    }
    &:active {
        transform: translateY(2px);
    }
    > img,
    > span {
        justify-self: center;
        align-self: center;
    }
}