@import '../.././styles/variables';
@import '../.././styles/general';
@mixin instrument() {
    display: grid;
    align-self: center;
    grid-template-rows: 25px;
    grid-column-gap: 10px;
    background: $gray_color;
    padding: 5px;
    @include box_shadow;
}

.instrument {
    @include instrument();
    grid-template-columns: 100px 165px repeat(4, 80px) repeat(3, 25px);
    h2 {
        align-self: center;
        justify-self: center;
        color: #f2f2f2;
        font-weight: bold;
    }
    .key-zone {
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-column-gap: 5px;
    }
    .key-zone.hidden {
        display: none;
    }
    .harmonizer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.empty-instrument {
    @include instrument();
    grid-template-columns: 1fr;
}