.spinner {
    width: 80px;
    height: 25px;
    button {
        width: 20px;
        height: 100%;
        border: none;
        background: #2684a4;
        color: #f2f2f2;
        cursor: pointer;
        font-weight: bold;
        &:hover {
            background: #363636;
        }
        &:focus {
            outline: 0px;
            background: #4f5755
        }
        &:active {
            transform: translateY(2px);
        }
    }
    input {
        width: 40px;
        height: 100%;
        border: none;
        text-align: center;
        font-weight: bold;
        height: calc(100% - 2px);
        &:focus {
            outline: 0px;
        }
    }
}

.spinner.init-from-tree {
    grid-column-start: 3;
}