@import './../../styles/variables';
@import './../../styles/general';
.midi-outputs-list {
    display: flex;
    flex-direction: column;
    div {
        display: grid;
        grid-template-columns: 25px 1fr;
        margin: 5px 0;
        padding: 5px;
        font-weight: 600;
        color: $white_color;
        background-color: $gray_color;
        @include box_shadow;
    }
}