.icon-button {
    width: 25px;
    padding: 0;
    background: #f2f2f2;
    border: none;
    box-shadow: 1px 1px 2px;
    border-radius: 5px;
    cursor: pointer;
    &:focus {
        outline: 0px;
    }
    &.pressed {
        background: #bebbbb66;
        box-shadow: 1px 1px 1px #c2c2c2;
    }
    &:active {
        transform: translateY(2px);
    }
    &.hidden {
        display: none;
    }
}