@import './styles/variables';
@import './styles/general';

.App {
  width: 800px;
  min-height: 500px;
  .song-container {
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: 40px 40px repeat(5, auto);
    .song-select {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    > div {
      padding: 10px 0;
    }
    .header {
      padding: 5px;
      display: grid;
      justify-content: center;
      grid-column-gap: 10px;
      grid-template-columns: 100px 165px repeat(4, 80px) repeat(2, 25px);
      color: black;
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        @include box_shadow();
        background: $gray_color;
        color: $white_color;
        font-weight: 600;
      }
      > div:first-child {
        grid-column-start: 2;
      }
    }
    .section {
      border: 1px solid #c2c2c2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
  .midi-container {
    display: flex;
    margin-top: 30px;
    height: 100%;
    align-items: center;
    .title {
      padding: 5px;
      background: #333;
    }
  }
  select {
    width: 250px;
    height: 30px;
    border: none;
    color: $white_color;
    font-size: 20px;
    font-weight: bold;
    background-color: $gray_color;
    text-align-last: center;
    @include box_shadow();
  }
}

/*Layout*/

.panel {
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 6px #666;
  /*Panel Header*/
  > div:first-child {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: #f1f1f1;
    color: #000;
    font-weight: bold;
  }
  /*Panel Content*/
  > div:last-child {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }
}
@mixin col() {
  margin: 0 15px;
}
.col-6 {
  width: 50%;
  @include col();
}

